
.login{

    background-color:hotpink;
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 20px;
    height: 320vh;
    position: relative;

}

.biscuit{

    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 30px;
    
    
    }

.login h1{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
.login p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.internet{
    margin: 60px 0px;

}

.internet a{

    
    text-decoration: none;
    margin: 10px;
}

.internet a:nth-child(1){

    
    color: white;
    background-color:  #316FF6;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
}


.internet a:nth-child(2){

    
    color: white;
    background-color:#00acee ;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
}


.internet a:nth-child(3){

    
    color: white;
    background-color:#c4302b ;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
}
.facebook{
    padding: 4px;
}
.twitter{
    padding: 4px;
}
.google{
    padding: 4px;
}
input[type="text"]{

    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    text-indent: 30px;
    margin: 5px;  
}

::placeholder{
    text-indent: 30px;
}
    input[type="text"]:focus{

        border: 1px solid goldenrod;
    }

    input[type="tel"]{

        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
        text-indent: 30px;
        margin: 5px;
    }

::placeholder{
    text-indent: 30px;
}

    input[type="tel"]:focus{

        border: 1px solid goldenrod;
    }


    input[type="email"]{

        width: 40%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        outline: none;
        font-size: 15px;
        text-indent: 30px;
        margin: 5px;
       
        }
        ::placeholder{
            text-indent: 50px;
        }
    
        input[type="email"]:focus{
    
            border: 1px solid goldenrod;
        }
        
        input[type="password"]{

            width: 40%;
            padding: 10px;
            border: none;
            border-radius: 10px;
            outline: none;
            font-size: 15px;
            text-indent: 30px;
            margin: 7px;

            }

            ::placeholder{
                text-indent: 30px;
            }
        
            input[type="password"]:focus{
        
                border: 1px solid goldenrod;
                
            }
            
            input[type="password"]{

                width: 40%;
                padding: 10px;
                border: none;
                border-radius: 10px;
                outline: none;
                font-size: 15px;
                text-indent: 30px;
                margin: 7px;
                
                }
            
                input[type="confirm password"]:focus{
            
                    border: 1px solid goldenrod;
                }

                .vintage{

                    padding: 10px 25px;
                    border: none;
                    border: 1px solid lightcoral;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    border-radius: 15px;
                    transition: 1.5s;
                    background-color: lightblue;

                }

                .vintage:hover{
                    background-color: #c4302b;
                }


                .class-form{

                    position: relative;
                    padding-top: 30px;
                }

                .urser{
                    position: absolute;
                    left: 30%;
                    top: 43px;
                    color: black;
                    font-size: 20px;
                }
                
                .class-form{

                    position: relative;
                }

                .emma{
                    position: absolute;
                    left: 30%;
                    top: 43px;
                    color: black;
                    font-size: 20px;
           
                }
            

                .class-form{

                    position: relative;
                }

                .telly{
                    position: absolute;
                    left: 30%;
                    top: 43px;
                    color: black;
                    font-size: 20px;
                }

                .class-form{

                    position: relative;
                }

                .pass{
                    position: absolute;
                    left: 30%;
                    top: 43px;
                    color: black;
                    font-size: 20px;
            }
            .express{
                display: flex;
                align-items: center;
                margin: 15px;
                margin-top: 50px;
            
                
            }
            .express::before, .express::after{
            
                content: " ";
                background-color: black;
                padding: 1px;
                flex: 1px;
            }
            .expressbg{
                border-radius: 30px;
                padding: 20px;
                background-color: #c4302b;
                font-size: 20px;
                margin: 10px;   
            }


            @media  screen and (max-width:748px) {
                .login{

             background-color: palegoldenrod;
                 height: 320vh;

                }

                .login h1{
                    font-size: 25px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-weight: bolder;
                }
                .login p{
                    font-size: 18px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-weight: bolder;
                }

                .biscuit{

                    position: absolute;
                    left: 5%;
                    top: 4%;
                    font-size: 20px;
                    padding-left: 30px;
                    
                    
                    }
            }

            @media (max-width:630px){

                .login{

                    background-color: dimgray;
                }
                .expressbg{
                    border-radius: 30px;
                    padding: 20px;
                    background-color: #c4302b;
                    font-size: 15px;
                    margin: 10px;   
                }

                input[type="text"]{

                    width: 50%;
                    padding: 10px;
                    border: none;
                    border-radius: 10px;
                    outline: none;
                    font-size: 15px;
                    text-indent: 30px;
                    margin: 5px;  
                }
            
                    input[type="tel"]{
                
                        width: 50%;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        outline: none;
                        font-size: 15px;
                        text-indent: 30px;
                        margin: 5px;
                    }

                    input[type="email"]{

                        width: 50%;
                        padding: 10px;
                        border: none;
                        border-radius: 10px;
                        outline: none;
                        font-size: 15px;
                        text-indent: 30px;
                        margin: 5px;
                       
                        }
                      
                        
                        input[type="password"]{
                
                            width: 50%;
                            padding: 10px;
                            border: none;
                            border-radius: 10px;
                            outline: none;
                            font-size: 15px;
                            text-indent: 30px;
                            margin: 7px;
                
                            }
                
                            
                            input[type="password"]{
                
                                width: 50%;
                                padding: 10px;
                                border: none;
                                border-radius: 10px;
                                outline: none;
                                font-size: 15px;
                                text-indent: 30px;
                                margin: 7px;
                                
                                }

                                .internet a{

    
                                    text-decoration: none;
                                    margin: 3px;
                                }

                                .class-form{

                                    position: relative;
                                    padding-top: 30px;
                                }
                
                                .urser{
                                    position: absolute;
                                    left: 25%;
                                    top: 40px;
                                    color: black;
                                    font-size: 20px;
                                }
                                
                                .class-form{
                
                                    position: relative;
                                }
                
                                .emma{
                                    position: absolute;
                                    left: 25%;
                                    top: 40px;
                                    color: black;
                                    font-size: 20px;
                           
                                }
                            
                
                                .class-form{
                
                                    position: relative;
                                }
                
                                .telly{
                                    position: absolute;
                                    left: 25%;
                                    top: 40px;
                                    color: black;
                                    font-size: 20px;
                                }
                
                                .class-form{
                
                                    position: relative;
                                }
                
                                .pass{
                                    position: absolute;
                                    left: 25%;
                                    top: 40px;
                                    color: black;
                                    font-size: 20px;
                            }


                         }    

                         @media (min-width:400px) and (max-width:581px){

                          .login{

                            background-color: darkslategrey;
                          }

                          
                .biscuit{

                    position: absolute;
                    left: 35%;
                    top: 1%;
                    font-size: 15px;
                    padding-left: 30px;
                    color: black;
                    
                    }

                    
                    .login h1{
                        font-size: 20px;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-weight: bolder;
                    }
                    .login p{
                        font-size: 14px;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-weight: bolder;
                        margin-bottom: 20%;
                    }

                    .internet a{

    
                        text-decoration: none;
                        margin: 10px;
                        display: grid;
                        
                    }
                    /* }
                    .brig{
                        position: relative;
                    }
                    .facebook{
                        position: absolute;
                        padding: 30px 80px;
                        

                        left: 70%;
                    } */


                    
    .internet a:nth-child(1){

    
      color: white;
      background-color:  #316FF6;
      border-radius: 10px;
      padding: 0px 5px;
      font-size: 14px;
      width: 60%;
      margin-left: 50px;
      margin-top: -30px;
      margin-bottom: 20px;
    }


.internet a:nth-child(2){

    
    color: white;
    background-color:#00acee ;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 14px;
    width: 60%;
      margin-left: 50px;
    
      margin-bottom: 20px;
      
}


.internet a:nth-child(3){

    
    color: white;
    background-color:#c4302b ;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 14px;
    width: 60%;
      margin-left: 50px;

      margin-bottom: 20px;
}
}                   
                    
                          







                
            